{% extends 'base.html' %}

{% block style %}
.foldercard {
display: flex;
align-items: center;
justify-content: center;
}
.icon {
width: 90%;
height: 90%;
}
h5 {
display: flex;
justify-content: space-between;
}
.card{
border: none;
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
overflow:hidden;
border-radius:20px;
min-height:190px;
box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

@media (max-width: 768px) {
min-height:350px;
}

@media (max-width: 420px) {
min-height:300px;
}


&.card-has-bg{
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
background-size:120%;
background-repeat:no-repeat;
background-position: center center;
-webkit-filter: grayscale(0.75);
-moz-filter: grayscale(75%);
-ms-filter: grayscale(75%);
-o-filter: grayscale(75%);
filter: grayscale(75%);
&:before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: inherit;
}

&:hover {
transform: scale(0.98);
box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
background-size:130%;
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

.card-img-overlay {
transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
{# background: rgb(35,79,109);
background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%); #}
}

}
&:after {
  -webkit-filter: grayscale(0);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
}
}
.card-footer{
background: none;
border-top: none;
.media{
img{
border:solid 3px rgba(255,255,255,0.3);
}
}
}
.card-meta{color:#26BD75}
.card-body{
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
&:hover {
.card-body{
margin-top:30px;
transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
cursor: pointer;
transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card-img-overlay {
transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
background: rgb(35,79,109);
background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
}
}
{% endblock %}

{% block content %}
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">

  {% for folder in rowData %}

  <div class="col">
    <div class="card text-white card-has-bg click-col"
      style="background-image:url('{% if folder[4] != [] %}{{folder[4][0]}}{% else %}/static/resources/empty-folder.png{% endif %}');">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
          {# <small class="card-meta mb-2">Thought Leadership</small> #}
          <h4 class="card-title mt-0 "><a class="text-white" style="text-decoration: none;" herf="#">{{folder[0]}}</a>
          </h4>
          <small><i class="bi bi-stack"></i> {{folder[3]}}</small>
          <small><i class="bi bi-hdd"></i> {{folder[2]}}</small>
        </div>
        
      </div>
    </div>
    
  </div>
  {% endfor %}
</div>
<br>


{% endblock %}

{% block script %}

{% endblock %}