{% extends 'base.html' %}

{% block style %}
    .text-left {
        text-align: left;
    }

    .top-row {
        height: 10vh;
    }
    .bottom-row {
        height: 10vh;
    }
    .caps-container,
    .player-container {
        height: 80vh;
    }
    .caps-container {
        flex: 0 0 300px !important; /* fixed width */
        overflow-y: auto;
        scrollbar-width: thin;
    }
    /* scroll test */
    /*
    .cap-list {
        height: 300vh; 
    }
    */
    .video {
        max-width: 150vh;
        margin: 0 auto;
    }
    video {
        width: 100%;
        display: block;
    }
    ::-webkit-scrollbar {
        width: 9px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
    }
    h5 {
        display: flex;
        justify-content: space-between;
    }
{% endblock %}

{% block content %}
    <div class="row mid-row">

        <!-- Video -->
        <div class="col py-3 player-container">
            <div class="card shadow">
                <div class="video">
                    <video controls playsinline autoplay loop class="rounded-top" id="videoId">
                        <source src="{{filePath}}" type="video/mp4">
                    </video>
                </div>
                <div class="card-body">
                    <span>
                        <h5 class="card-title">
                            {{fileName}}
                            <span class="badge bg-secondary shadow-sm">{{fileSize}}</span>                              
                        </h5>
                    </span>
                    <p class="card-text"><small class="text-muted">Created: {{fileCreatedDate}} | Modified: {{fileModifiedDate}}</small></p>
                </div>
            </div>
            <br><br>
            <div class="form-check form-switch align-middle">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked" id="darkModeToggle">Dark Mode</label>
            </div>
        </div>
        
        <div class="col caps-container text-center">
            <!-- <h5>Scrollable Cap List</h5>  -->
            <div class="cap-list py-3">

                <!-- Reject Buttons -->
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-danger" id="DeleteButton" onclick="deleteClip()"><i class="bi bi-trash3"></i> Delete</button>
                </div>

                <!-- Form -->
                <div id="KeepForm" style="display:none;" >
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="FileName" placeholder="FileName" value="{{fileName}}" disabled>
                        <label for="FileName">File Name</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Timestamp" placeholder="Timestamp" value="{{fileCreatedDate}}" disabled>
                        <label for="Timestamp">Timestamp</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Category" placeholder="Category">
                        <label for="Category">Category</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Description" placeholder="Description">
                        <label for="Description">Description</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="AdditionalDetails" placeholder="AdditionalDetails">
                        <label for="AdditionalDetails">Additional Details</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Starring" placeholder="Starring">
                        <label for="Starring">Starring</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ItemsUsed" placeholder="ItemsUsed">
                        <label for="ItemsUsed">Items Used</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="IssuesWithTheClip" placeholder="IssuesWithTheClip">
                        <label for="IssuesWithTheClip">Issues with the clip</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="range" class="form-control form-range" min="0" max="10" step="0.1" id="Rating" placeholder="Rating" oninput="this.nextElementSibling.innerHTML = 'Rating: ' + this.value">
                        <label for="Rating">Rating</label>
                    </div>
                    <br>
                    <!-- Known issue: Time shows up as 12 hours within Mozilla and not in Chrome -->
                    <div class="form-floating">
                        <input type="time" class="form-control" id="StartsAt" step="1" value="00:00:00" min="00:00:00">
                        <label for="StartsAt">Starts At</label>
                    </div>
                </div>

                <br>

                <!-- Keep Buttons -->
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-success" id="KeepButton" onclick="showForm()"><i class="bi bi-check-lg"></i> Keep</button>
                </div>

                <br>

            </div>
        </div>
    </div>

    <br>
{% endblock %}


{% block script %}
    $("#KeepButton").click(function(){
        $("#KeepForm").fadeIn();
        $("#KeepButton").fadeTo().html('<i class="bi bi-check-lg"></i> Save');
        $("#DeleteButton").fadeTo().html('<i class="bi bi-trash3"></i>');
    });
    $("#DeleteButton").click(function(){
        $("#KeepButton").fadeTo().html('<i class="bi bi-check-lg"></i>');
        $("#DeleteButton").fadeTo().html('<i class="bi bi-trash3"></i> Delete?');
    });
    $("#flexSwitchCheckChecked").change( function() {
        $('html').attr('data-bs-theme', function(index, attr){
            return attr == 'dark' ? null : 'dark';
        });
    });
    $("#videoId").on(
        "timeupdate", 
        function(event){
            const seconds = this.currentTime;
            var date = new Date(null);
            date.setSeconds(seconds);
            $("#StartsAt").val(date.toISOString().substr(11, 8));
    });
{% endblock %}